{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="gb2312">

    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css" />
</head>


<body>
    <div id="page" class="site">
         <header class="site-header">
              <hgroup>
                  <h1>Test</h1>
                  <h2>It's a css test!</h2>
              </hgroup>
         {% include 'nav.html' %}
         </header>


    <div id="main" class="wrapper">
    {% block content %}
        {% endblock %}
    </div>


    </div>


</body>



<!--<footer>-->
        <!--<script type="text/javascript" src="{% static 'blog/js/jquery-3.1.1.js' %}"></script>-->
        <!--<script type="text/javascript" src="{% static 'blog/js/nprogress.js' %}"></script>-->
        <!--<script src="{% static 'blog/js/blog.js' %}" type="application/javascript"></script>-->
        <!--<script src="{% static 'blog/js/navigation.js' %}" type="application/javascript"></script>-->
    <!--{% block footer %}-->
    <!--{% endblock %}-->
<!--</footer>-->
</html>