{% extends "base.html" %}
{% load blog_tags %}



{% block title %}Stan Blog{% endblock %}

{% block content %}
    <div id="primary" class="site-content">
        <div id="content">
            <div>
                <ul>
                    {% for post in posts %}
                            <!--<div class="arc-right">-->
                                {% if tag %}
                                    <h2>Posts tagged with "{{ tag.name }}"</h2>
                                {% endif %}
                                {#                        <p class="tags">#}
                                {#                            Tags:#}
                                {#                            {% for tag in post.tags.all %}#}
                                {#                                <a href="{% url "blog:post_list_by_tag" tag.slug %}">#}
                                {#                                    {{ tag.name }}#}
                                {#                                </a>#}
                                {#                                {% if not forloop.last %}, {% endif %}#}
                                {#                            {% endfor %}#}
                                {#                        </p>#}
                                {#                            <h4 class="blue-text">#}
                                {#                                <a href="{% url "blog:detail" pk=article.id %}"#}
                                {#                                                     title="{{ article.title }}">#}
                                {#                                    {{ article.title }}#}
                                {#                                </a>#}
                                {#                            </h4>#}
                                <h4 class="entry-header">
                                    <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                        <h1 class="entry-header">{{ post.title }}</h1>
                                    </a>
                                    {#                            <p class="tags">Tags: {{ post.tags.all|join:", " }}</p>#}

                                </h4>
                                <p class="date article">
                                    Published {{ post.publish }} by {{ post.author }}
                                </p>
                            <p class="entry-content">
                                <span>{{ post.body }}</span>
                            </p>
                            <!--</div>-->
                    {% endfor %}
                </ul>
            <!--</div>-->
            </div>
        <!--</div>-->
                    {% include "pagination.html" with page=posts %}
            </div>
    </div>
    <!--</div>-->
    <div class="jzend"></div>

    <footer>
        <div class="footer">
            test
        </div>
    </footer>
{% endblock %}
